<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar o aplicativo ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
     
    <system.web>
      <pages theme="padrao-dep"></pages>
      <trace enabled="true" pageOutput="false"/>
      <customErrors defaultRedirect="~/erros.aspx" mode="On"></customErrors>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
